@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-black: #000;
  --background-green: #00AC6B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--background-black);
}

/* mx-auto max-w-5xl flex-col align-center justify-center py-8 px-5 xl:px-0  */

/* Hero Styles */
.hero{
  @apply flex xl:flex-row flex-col gap-2 relative z-0
  max-w-[1440px] mx-4 md:w-5/6 w-full md:px-4 ;
}

.hero_title{
  @apply 2xl:text-[40px] 2xl:leading-[60px] md:w-[100%] w-full text-left text-white md:mt-4 sm:text-[24px] sm:leading-[42px] text-[22px] font-bold
}

.hero_subtitle{
  @apply 2xl:text-[18px] space-y-5 tracking-tight md:w-[80%] w-[80%]  text-darkGray-100 text-[16px] sm:leading-[28px] leading-[24px] font-medium md:mt-6 mt-4
}

.span{
  @apply text-green-100
}

.underline{
  position: absolute;
  top: -0.75rem;
  left: 0;
  right: 0;
  z-index: -10;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: var(--background-green);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transform: none;
  transform-origin: 50% 50% 0px;
  opacity: 1;
}


.active-link,
.active-link-bg {
  /* transition: all 1s ease-in-out; */
}
/* .slide-left {
  transform: translateX(-10px);
  transition: transform 0.5s ease-in-out;
} */
.active-link{
  border-width: 1px;
  border-radius:999px;
  background-color: rgb(0 172 107 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}